<section class="container" id="sobre">
    <main class="resumo">
        <!-- Apresentação -->
        <h2>Olá, eu me chamo</h2>
        <h1>Anderson Rian <span>Furyama</span></h1>
        <h3>Full-Stack Developer</h3>
        <!-- icones -->
        <div class="icon">
            <button><a href="https://github.com/furyamaanderson">
                    <img width="48" height="48" src="../../../assets/neon-git.png" alt="github--v1" />
                </a></button>
            <h3 class="icone">Git Hub</h3>
            <button><a href="https://www.linkedin.com/in/anderson-rian-furyama-92ba1718b/">
                    <img width="48" height="48" src="../../../assets/neon-link.png" alt="linkedin" />
                </a></button>
            <h3 class="icone">Linkedin</h3>
            <button><a href="https://www.instagram.com/anderson_furyama/">
                    <img width="48" height="48" src="../../../assets/neon-insta.png" alt="instagram-new" />
                </a></button>
            <h3 class="icone">Instagram</h3>
        </div>
    </main>
    <!-- Animação -->
    <div class="container-img">
        <div class="back-1"></div>
        <div class="back-2"></div>
        <div class="back-3"></div>
        <div class="back-4"></div>
        <div class="back-5"></div>
        <div class="back-6"></div>
        <div class="imagem-direita">
            <img src="../../../assets/85cad880-2cf8-4e8f-86e9-b943ce0d7e34.png">
        </div>
    </div>
</section>
<section class="container2">
    <div class="divider"></div>
</section>
<!-- Sobre mim -->
<section class="container3">
    <main class="texto">
        <h1>Sobre <span>Mim</span></h1>
        <p>Olá, sou Anderson Rian Furyama, e estou buscando minha primeira oportunidade na área de tecnologia.
            Atualmente,
            estou aprendendo Angular e Java Spring Boot.

            Minha experiência anterior foi em prevenção de perdas em supermercados, onde desenvolvi habilidades
            analíticas
            importantes.

            Sempre amei tecnologia, especialmente video games, o que despertou meu interesse pelo desenvolvimento de
            software. Além disso, gosto de ler mangás, livros de fantasia e ouvir música.

            Estou animado para contribuir com minha paixão e vontade de aprender em um ambiente de trabalho inovador.
        </p>
    </main>
    <!-- Animação -->
    <div class="imagem-esquerda">
        <div class="borda"></div>
        <div class="imagem-neon">
            <img src="../../../assets/1bd76969-d7d9-4b54-baf7-ecff47bf9ffa.png">
        </div>

    </div>
</section>