<section class="container" id="formacao">
    <!-- titulo -->
    <h1>Educa<span>ção</span></h1>
    <!-- Linha lateral -->
    <section class="container2">
        <div class="linha">
            <div class="linha-vertical"></div>
            <div class="circulo"></div>
            <div class="circulo-meio"></div>
        </div>
    </section>
    <!-- Formação em cima -->
    <section class="container3">
        <div class="experiencias">
            <div class="experiencia-1">
                <div class="cima">
                    <img src="../../../assets/design-sem-nome-2022-01-26t131235627-600x380.png">
                    <div class="cima-texto">
                        <h2>Entra 21</h2>
                        <h3>Python</h3>
                        <h4>Em Progresso</h4>
                    </div>
                </div>
                <div class="baixo">
                    <p>O curso que fiz em 2021 foi essencial para minha imersão no mundo da programação. Nele, aprendi 
                        lógica de programação, fundamentos web, desenvolvimento backend e banco de dados. Esses
                        conhecimentos me deram uma base sólida para compreender a estrutura e o funcionamento de 
                        sistemas de software, desde a criação de páginas web dinâmicas até a manipulação de dados em
                        bancos de dados, preparando-me para os desafios do campo da tecnologia.
                    </p>
                </div>
            </div>
            <!-- Formação baixo -->
            <section class="experiencia-2">
                <div class="cima">
                    <img src="../../../assets/unnamed.jpg">
                    <div class="cima-texto">
                        <h2>Técnico em desenvolvimento de sistemas</h2>
                        <h3>Senac</h3>
                        <h4>Em progresso</h4>
                    </div>
                </div>
                <div class="baixo">
                    <p>Estou extremamente empolgado com as oportunidades que este curso oferece. Com uma carga 
                        horária total de 1.200 horas, estou ansioso para absorver todo o conhecimento e habilidades
                        necessários para me tornar um desenvolvedor de software competente. Desde o planejamento até a 
                        execução e melhoria de aplicativos, espero aprender profundamente sobre lógica de programação, 
                        algoritmos, desenvolvimento orientado a objetos e integração de banco de dados. Estou
                        particularmente entusiasmado com a ênfase no desenvolvimento de interfaces de usuário, tanto 
                        para aplicações desktop quanto web, pois acredito que isso trará minha criatividade para o mundo 
                        digital.
                    </p>
                </div>
            </section>
        </div>
    </section>
</section>