<section class="container" id="habilidades">
    <!-- titulo -->
    <h1>Habili<span>dades</span></h1>
    <p>Aqui estão listadas algumas de minhas habilidadas tanto em Front-end, quanto em Back-end:</p>
    <!-- container geral -->
    <section class="container2">
        <!-- Container em cima -->
        <section class="container-cima">
            <div class="front">
                <h3>Front<span>End</span></h3>
                <div class="angular">
                    <img width="48" height="48" src="https://img.icons8.com/fluency/48/angularjs.png" alt="angularjs" />
                    <h2>Angular</h2>
                </div>
                <div class="html">
                    <img width="48" height="48" src="https://img.icons8.com/color/48/html-5--v1.png" alt="html-5--v1" />
                    <h2>HTML</h2>
                </div>
                <div class="css">
                    <img width="48" height="48" src="https://img.icons8.com/color/48/css3.png" alt="css3" />
                    <h2>CSS</h2>
                </div>
                <div class="bootstrap">
                    <img width="48" height="48" src="https://img.icons8.com/color-glass/48/bootstrap.png"
                        alt="bootstrap" />
                    <h2>Bootstrap</h2>
                </div>
                <div class="javascript">
                    <img width="48" height="48" src="https://img.icons8.com/color/48/javascript--v1.png"
                        alt="javascript--v1" />
                    <h2>Javascript</h2>
                </div>
                <div class="typescript">
                    <img width="48" height="48" src="https://img.icons8.com/fluency/48/typescript--v1.png"
                        alt="typescript--v1" />
                    <h2>typescript</h2>
                </div>
            </div>
            <div class="back">
                <h3>Back<span>End</span></h3>
                <div class="Java">
                    <img width="48" height="48" src="https://img.icons8.com/color/48/java-coffee-cup-logo--v1.png"
                        alt="java-coffee-cup-logo--v1" />
                    <h2>Java</h2>
                </div>
                <div class="spring">
                    <img width="48" height="48" src="https://img.icons8.com/color/48/spring-logo.png"
                        alt="spring-logo" />
                    <h2>SpringBoot</h2>
                </div>
                <div class="mysql">
                    <img width="48" height="48" src="https://img.icons8.com/color/48/mysql-logo.png" alt="mysql-logo" />
                    <h2>MySQL</h2>
                </div>
                <div class="node">
                    <img width="48" height="48" src="https://img.icons8.com/color/48/nodejs.png" alt="nodejs" />
                    <h2>Node</h2>
                </div>
            </div>
        </section>
        <!-- Container baixo -->
        <section class="container-baixo">
            <div class="outras">
                <h3>Ou<span>tras</span></h3>
                <div class="intellij">
                    <img width="48" height="48" src="https://img.icons8.com/color/48/intellij-idea.png"
                        alt="intellij-idea" />
                    <h2>Intellij</h2>
                </div>
                <div class="vscode">
                    <img width="48" height="48" src="https://img.icons8.com/color/48/visual-studio--v2.png"
                        alt="visual-studio--v2" />
                    <h2>VsCode</h2>
                </div>
                <div class="github">
                    <img width="48" height="48" src="https://img.icons8.com/plasticine/100/github-squared.png"
                        alt="github-squared" />
                    <h2>GitHub</h2>
                </div>
                <div class="git">
                    <img width="48" height="48" src="https://img.icons8.com/color/48/git.png" alt="git" />
                    <h2>Git</h2>
                </div>
            </div>
        </section>
    </section>
</section>
