<div class="container">
    <h1>Anderson Rian <span>Furyama</span></h1>
    <div class="icon">
        <a href="https://github.com/furyamaanderson"><img width="48" height="48" src="../../../assets/neon-git.png" alt="github--v1"/></a>
        <a href="https://www.linkedin.com/in/anderson-rian-furyama-92ba1718b/"><img width="48" height="48" src="../../../assets/neon-link.png" alt="linkedin"/></a>
        <a href="https://www.instagram.com/anderson_furyama/"><img width="48" height="48" src="../../../assets/neon-insta.png" alt="instagram-new"/></a>
    </div>
</div>