<section class="container" id="projects">
    <!-- titulo -->
    <h1>Proje<span>tos</span></h1>
    <p class="sub">Aqui estão alguns de meus projetos desenvolvidos particularmente em Angular, em conjunto com Java e SpringBoot</p>
    <!-- Projeto de cima -->
    <section class="container-pai">
        <div class="card-1" >
            <div class="img">
                    <img src="../../../assets/Cadastro - Opera 2024-05-16 13-37-01.gif">
            </div>
            <div class="usados">
            </div>
            <div class="descricao">
                <h2>Cadastro de Produtos</h2>
                <h4>Em desenvolvimento</h4>
                <p>Projeto pensado para realizar o cadastro de produtos para supermercados,
                    bem como auditoria de estoque e emissão de relatórios
                </p>
                <button><a href="https://github.com/furyamaanderson/cadastro1">GitHub</a></button>
                <button><a href="https://furyamacadastro.netlify.app">Projeto</a></button>
            </div>
        </div>
    </section>
    <!-- Projeto baixo -->
    <section class="container2">
        <div class="card-4">
            <div class="img">
                <img src="../../../assets/Calculo - Opera 2024-05-16 13-54-29.gif">
            </div>
            <div class="usados">

            </div>
            <div class="descricao">
                <h2>Solve this</h2>
                <h4>Em desenvolvimento</h4>
                <p>Projeto pensado para cálculos matemáticos e da área da física, 
                    projetado com animações para agradar o público 
                </p>
                <button><a href="https://github.com/furyamaanderson/calculo2">GitHub</a></button>
            </div>
            
        </div>
    </section>
</section>