

<section class="container" id='contato'>
    <h1>Con<span>tato</span></h1>
    <div class="container-form">
        <h2>Entre em contato comigo!</h2>
        <form action="https://formsubmit.co/furyama.anderson20@gmail.com" method="POST">
            <label for="email"></label>
            <input type="email" name="email"class="email" id="email" placeholder="Digite seu Email"><br>
            <label for="name"></label>
            <input type="text" name="name"class="nome" id="name" placeholder="Digite o seu nome"><br>
            <label for="assunto"></label>
            <input type="text" name="text"class="assunto" id="assunto" placeholder="Asstunto da mensagem"><br>
            <label for="mensagem"></label>
            <textarea name="mensagem" id="mensagem" placeholder="Digite sua mensagem"></textarea>
            <input type="submit" value="Enviar">
        </form>
    </div>
</section>